@import "../../assets/styles/main";

.category-list-wrapper {
  @include breakpoint-down($md) {
    margin-left: 0;
  }
  padding: 2rem 1rem;
  position: fixed;
  
color: $white;
  width: 100%;
  top: 60px;
  z-index: 0;
  background-color: $backgroundColor;
}
.categories {
    @include breakpoint-down($md){
        margin-left: 0;
    }  margin-left: 85px;
}
.category-list {
  @include flex-row-between-nowrap;
  background-color: $backgroundColor;
  max-width: 1000px;
  transition: all 700ms ease-in-out;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }

  .category {
    text-transform: capitalize;
    margin-right: 3rem;
    font-weight: 500;
    font-size: 1.6rem;
    @include breakpoint-down($md){
        font-size: 1.4rem;

    }
  }
}
